
/*-------------------------------Estilos del contenedor cabecera-------------------------------*/
#cabecera{
	padding: 0px;
}
#cabecera a{
	text-decoration: none;
	color: white;
	margin:0px;
	margin-right: 15px;
}
#cabecera a:hover{
	text-decoration: underline;
	color: #DB045B;

}