/*------------------------------Estilos Generales------------------------------*/
* {
	padding: 0px;
	margin: 0px;
	transition: 0.5s;
	box-sizing: border-box;
}

body {
	background-color: #EAE3D9;
	background-image: url("../media/imagenes/fondo_madera.png");
	background-repeat: no-repeat;
	background-size: 100% 400px;
}

.l {
	float: left;
}

.r {
	float: right;
}

.contenedor {
	margin-left: 10%;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*-------------------------------Estilos del contenedor cabecera-------------------------------*/
#cabecera {
	padding: 0px;
}

#cabecera a {
	text-decoration: none;
	color: white;
	margin: 0px;
}
/*-------------------------------Estilos del detalle de producto---------------------------------*/
.c50{
  width: 50%;
  text-align: center;
}
.c20{
  width: 20%;
}
/*-------------------------------Estilos del contenedor superior-------------------------------*/
#superior {
	padding: 40px;
	padding-bottom: 20px;
}

#logo {
	width: 50%;
}

#buscador {
	width: 50%;
	height: 50%;
	margin-top: 3%;
}

#buscador input {
    width: 53%;
    height: 24px;
    margin-left: 56%;
    margin-bottom: 10%;
    border-radius: 10px;
}

/*------------------------------Estilos del contenedor categorias------------------------------*/
#categorias {
	background-image: url("../media/imagenes/fondo_madera.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

/*----------------Estilos del menu de navegación----------------*/
.menu {
	width: 100%;
	color: #ffffff;
}

#btn-menu, label {
	display: none;
}
label {
	float: right;
	font-size: 28px;
	margin: 6px;
	cursor: pointer;
}

nav ul {
	list-style: none;
	padding: 7px;
	float: left;
}

nav ul li {
	background-color: #59504B;
	float: left;
	text-align: center;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	margin-bottom: 45px;
	cursor: pointer;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

nav ul li:hover {
	color: #000000;
	background-color: #DB045B;
}

nav ul li img {
	width: 40%;
	margin-top: -19%;
}

.c6 {
	width: 16.666%;
	height: 40px;
}

.vista {
	color: #000000;
	background-color: #DB045B;
}

/*----------------Estilos del slider----------------*/
#ofertas {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	overflow: hidden;
}

#ofertas img {
	width: 100%;
        height: 300px;
}

.slider {
	width: 75%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	width: 400%;
	animation: transicion 20s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
}

.slider li {
	list-style: none;
	width: 100%;
}

.slider img {
	width: 100%;
}

@keyframes transicion {
	0% {
		margin-left: 0%;
	}

	20% {
		margin-left: 0%;
	}

	25% {
		margin-left: -100%;
	}

	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}

	75% {
		margin-left: -200%;
	}

	80% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}

}

.descuento{
	width: 25%;
    margin: auto;
    overflow: hidden;
}
.descuento ul {
	display: flex;
	width: 91%;

}

.descuento li {
	list-style: none;
	width: 100%;
}

/*-------------------------------Estilos del contenedor productos-------------------------------*/
#productos {
	background-color: white;
	padding: 2%;
}

.contenedor75 {
	width: 75%;
	padding-left: 0px;
	border: solid 2px #DB045B;
	border-radius: 10px;
}

.imageProdu {
	text-align: center;
	background-color: white;
	width: 33%;
	height: 300px;
	margin-bottom: 0px;
	padding: 1%;
	border-bottom: solid 2px #DB045B
}

.produmedio {
	border-left: solid 2px #DB045B;
	border-right: solid 2px #DB045B;
}

.imageProdu img {
	width: 60%;
	margin-left: 20%;
	height: 60%;
}

.tituloContenedor {
	font-size: 30px;
        border-bottom: solid 1px #DB045B;
	text-align: center;
}
.tituloContenedor1 {
	font-size: 30px;
	border-bottom: solid 1px #DB045B;
	text-align: center;
}

.contenedor25 {
	width: 25%;
}

#precio_produ {
	width: 100%;
}

#precio_produ label {
	color: #DB045B;
	font-size: 21px;
	width: 40%;
	text-align: center;
}

.boton {
	background-color: #DB045B;
	color: white;
	cursor: pointer;
}

#boton_produ {
	width: 57%;
	margin-right: 5%;
}

.contenedorsup {
	border: solid 1px #DB045B;
	height: 200px;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 45px;
	border-radius: 10px;
}

.contenedorsup p {
	margin-left: 5%;
	width: 90%;
	text-align: justify;
	margin-top: 25%;
}

.contenedormed {
	border: solid 1px #DB045B;
	height: 200px;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 45px;
	border-radius: 10px;
}

.contenedorinf {
	height: 200px;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 45px;
	border-radius: 10px;
}

.salto {
	width: 100%;
	float: left;
}

.novisible{
	background-color: #59504B;
}
.visible{
	background-color: #DB045B;
}

.parrafoBlanco{
    font-family: Arial;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #fdfdfd;
}

div .footerFinal {
    margin-top: 5%;
    background-image: url("../media/imagenes/fondo_madera.png");
    /*background-color: #403f3f;*/
    width: 100%;
    float: left;
    

}