@media only screen and (max-width:768px) {
	nav ul li a {
    font-size: 15px;
}
nav ul li img {
    width: 40%;
}
.imageProdu {
    width: 50%;
    height: 220px;
    padding: 3%;
}
.tituloContenedor1 {
	font-size: 20px;
}

#ofertas img {
    width: 100%;
}

}

@media only screen and (max-width : 480px){
    
    body{
        text-align: center;
    }
    
        #ofertas img {
	width: 100%;
        height: 100px;
        float: left;
}

#logo {
	width: 100%;
        max-width: 500px;
}

#buscador {
	width: 50%;
	height: 50%;
        margin: 0px;
}

#buscador input{
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 10px;
    
}
	
	.logo, .buscar, .carrito{
		width: 100%;
		}
/*------Responsivos de index-------------*/
	label{
		display: block;
	}	
	nav ul li{
		float:none;
	}
	nav ul li img {
    display: none;
}
	.menu{
		position: absolute;
		top:100px;
		left:0px;
		width:80%;
		height:80vh;
		background: rgba(51,51,51,0.9);
		transform: translateX(-100%);
		transition: all 0.5s;
	}
	.menu li{
		display: block;
		color: #FFF;
		height: 50px;
		padding: 15px;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	.c6 {
    width: 200.666%;
}
.imageProdu {
    width: 100%;
}
.contenedor {
    margin-left: 0%;
    width: 100%;
}
.contenedor75 {
    width: 100%;
}
.contenedor25 {
    width: 60%;
}
	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
		}	
/*-----------Responsive Login*/
	.form-register {
    width: 95%;
    max-width: 900px;
}	

#ofertas img {
    width: 100%;
}
}
