body{
    background: #BCAAA4 ;
    background-image: url("../media/imagenes/fondo_madera.png");
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    
}

#body{
    margin: 50px;
    font-family: sans-serif;
    margin-left: 100px;
}

#logo{
    padding: 10px;
}

#empresa{
    max-width: 100%;
}

#t1{
    color: white;
    margin: 20px;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    height: auto;
    float: left;
    padding: 5px;
}

#t2{
    margin: 20px;
    width: 55%;
    background: rgba(255, 255, 255, 0.5);
    float: left;
    padding: 5px;
}
#t2:hover{
    color: white;
    margin: 20px;
    width: 55%;
    background: rgba(255, 255, 255, 0.2);
    float: left;
    padding: 5px;
}

#t3{
    margin: 20px;
    width: 55%;
    background: rgba(255, 255, 255, 0.5);
    float: left;
    padding: 5px;
}

#t4{
    margin: 20px;
    width: 55%;
    background: rgba(255, 255, 255, 0.5);
    float: left;
    padding: 5px;
}

.parrafoBlanco{
    font-family: Arial;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #fdfdfd;
}

div .footerFinal {
    width: 100%;
    background-image: url("../media/imagenes/fondo_madera.png");
    float: left;
}


@media (max-width: 480px){
    
    #logo{
        max-width: 100%;
        height: auto;
    }

    #body{
        margin: 0px;
        max-width: 100%;
    }
    
    #t2, #t3, #t4{
        margin: 20px;
        width: 90%;
        background: rgba(255, 255, 255, 0.5);
        float: left;
    }
    
    #t1{
        margin: 20px;
        width: 90%;
        color: white;
    }

}
