/*------------------------------Estilos Generales------------------------------*/
*{
	box-sizing: border-box;
	transition: .2s;
}
/*------------------------------Estilos Formulario Registro------------------------------*/
body{
	margin: 0px;
	font-family: sans-serif;
	background: #BCAAA4 ;
	background-image: url("../../../media/imagenes/fondo_madera.png");
	background-repeat: no-repeat;
	background-size: 100%;

}
.btn_enviar{
	color: #fff;
	padding: 10px 30px;
	margin: auto;
	width: 40%;
	background: #EC407A;
	border-radius: 7px;

}
.btn_enviar:hover{
	background: #D81B60;	
}