/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s
}

body {
  background-color: #EAE3D9;
  background-image: url("../media/imagenes/30.jpg");
  background-repeat: no-repeat;
  background-size: 100% 680px;
}


.l {
    float: left
}

.r {
    float: right
}

/*Estilos del contenedor*/
#container{
    margin: 0 auto;
    width: 980px;
    padding-top: 10px;    /*border: solid 1px #000000;*/
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: #ffffff;
}
.completo{
  width: 100% !important; 
}
#container table{
    width: 100%;
    text-align: center;
}
#container table td input{
    width: 100%;
}

#container table td select{
    width: 100%;
    height: 42px !important;
    border-radius: 4px;
}

/*Estilos para los Botones*/
.botonimg {
  background-color: none;
  cursor: pointer;
  transition: 0.4s;
}
.botonimg {
	width: 30px!important;
}
.botonimg:hover{
	width: 45px!important;
}
.boton{
	width: 200px;
  background-color: #EC407A;
  color: white;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0px solid white;
  cursor: pointer;
  font: 400 16px/26px myriad-pro, sans-serif;
  transition: 0.4s;
  float: left;
  margin: 12px;
}
.botonImagen{
  height: 42px;
  border-radius: 4px;
  box-sizing: border-box;
  font: 400 16px/26px myriad-pro, sans-serif;
  transition: 0.4s;
  float: left;
}
.boton:hover{background-color: #5185E0;
}

.ocultar{
	display: none;
}
/*Tamaño para las columnas*/
.c8{
	width: 8%;
}

 font-weight: bold; 
.c20{
  width: 20%;
}

.c21{
  width: 20%;
   font-weight: bold; 
}

.c50{
  width: 50%;
}
.c24{
	width: 24%;
}
.titulo{
	color: black;
  font-weight: bold; 
}
/*--------Estilos para los campos de texto--------*/
.inputs {
  width: 100%;
  /*height: 100%;*/
  outline: none;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font: 400 14px/35px myriad-pro, sans-serif;
  background-color: transparent
}
