body{
font-family: sans-serif;
background: #424242;
}
#main-container{
	margin: 100px auto;
	width: 90%;
	align-content: center;
}
h1{
	color: #fff;
	text-align: center;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width:100%;	
}

th, td{width: 10%;
text-align: center;

}
tr{
    width: 100%;
}

thead{
	background-color: #F06292;
	border-bottom: solid 5px;
	color: white;
}
tr:nth-child(even){
	background-color: #FFCDD2;
}
tr:hover td{
	background-color:#616161;
	color: white; 
}