/*------------------------------Estilos Generales------------------------------*/
*{
	box-sizing: border-box;
}
/*------------------------------Estilos Formulario Registro------------------------------*/
body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #424242;
	background-image: url("../../../media/imagenes/fondo_madera.png");	
}

h1 {
	color: #fff;
	text-align: center;
}

.form-register {
	width: 98%;
	max-width: 500px;
	margin: auto;
	background: #fff;
	border-radius: 7px;
}

.form-title {
	background: #EC407A;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.contenedor-inputs {
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

input {
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.input-48 {
	width: 48%;
}

.input-100 {
	width: 100%;
}

.btn_enviar {
	color: #fff;
	padding: 10px 30px;
	margin: auto;
	width: 40%;
	background: #EC407A;
	border-radius: 7px;
}

.btn_enviar:hover {
	background: #D81B60;	
}

.form_link {
	width: 100%;
	margin: 0px;
	text-align: center;
	margin: 7px;
	font-size: 14px;
}
