body {
	font-family: sans-serif;
	background: #424242;
	background-image: url("../../../media/imagenes/fondo_madera.png");
}
#main-container {
	margin: 30px auto;
	width: 80%;
	align-content: center;
}

h1 {
	color: #fff;
	text-align: center;
}

#tabla {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width:100%;	
}

#tabla td, th {
	text-align: center;
}

#tabla th, td {
	padding: 15px;
}

thead {
	background-color: #F06292;
	border-bottom: solid 5px;
	color: white;
}

#tabla tr:nth-child(even) {
	background-color: #FFCDD2;
}

#tabla tr:hover td {
	background-color:#616161;
	color: white; 
}

#ta {
	width:100%;	
}

#ta tr, td {
	text-align: center;
}